.all {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.all .title {
  /* box-shadow: 2px 2px 0px 2px black; */
  margin-bottom: 30px;
  padding: 10px;
  filter: drop-shadow(3px 3px 3px rgba(147, 145, 145, 0.692));
}

.cursos {
  width: 90%;
  height: max-content;

}

.curso_item {
  display: flex;
  flex-direction: row;
  margin-bottom: 10vw;
  background-color: rgba(192, 192, 192, 0.678);
  border-top: solid black 7px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 5px 5px 5px 0 rgba(204, 204, 204, 0.352);

}

.ftprojects {
  width: 470px;
  box-shadow: 1px;
}

.text {
  display: flex;
  flex-direction: column;
  padding: 60px;
  padding-top: 50px;
  font-size: large;
  width: 55%;
}
a{
color: black;
text-decoration: none;
}

@media screen and (max-width: 800px) {
  .curso_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    background-color: transparent;
    background-color: rgb(180, 180, 180);
    box-shadow: 8px 10px 1px 1px black;

  }
  .cursos {
    width: 80%;
  }
  .text{
    width: 90%;
    font-size: medium;
    padding-top: 0px;
  }
  .curso_item img{
    max-width: 70vw ;
    border-top-right-radius: 50px;
  }
  
  


}
@media screen and (max-width: 500px) {
  .text{
    font-size: smaller;
  }
  h1{
    font-size: x-large;
  }
  p{
    font-size: medium;
  }
 
 
}
